:root {
    --hrheight: 7px;
  }
  
body {
  background-color: #333;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: rgba(255, 68, 0, 0.493);

}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}


/* Status */
#total-tasks {
  background-color: #127e91;
}

#tasks-finished {
  background-color: #4cb4c7;
}

#tasks-inprogress {
  background-color: #7abecc;
}

#tasks-created {
  background-color: #7CD1C0;
}


/* Status hr lines */
hr.new1,
hr.new2,
hr.new3,
hr.new4 {
  border-radius: 5px;
  opacity: 1;
}

hr.new1 {
  border: var(--hrheight) solid #6c757d;
}

hr.new2 {
  border: var(--hrheight) solid #0d6efd;
}

hr.new3 {
  border: var(--hrheight) solid red;
}

hr.new4 {
  border: var(--hrheight) solid #198754;
}

.popover {
  background: none;
  border: none;
}
.popover-body{
  padding: 0;
}

.popover .popover-arrow {
  visibility: hidden;
}

/* Rename/delete icon */
.delete-icon {
  width: 100%;
}

.delete-icon:hover {
  cursor: pointer;
  fill: orangered;
}

/* Delete windows */
.delete-window{
  width: 455px;
  height: fit-content;
  background-color: #454545;
  border: 2px solid orange;
}

/* Add input */
.add-input{
  height: 35px;
  width: 220px;
  font-size: 20px;
  border-color: orange;
  outline: none;
  box-shadow: inset 0 0 4px 0px orange;
}
